* {
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.quarter {
    flex: 1;
}

.half {
    flex: 2;
}

.three-quarter {
    flex: 3;
}

.whole {
    flex: 4;
}

.services-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    align-items: stretch;
    padding: 40px;    
}

.service-role {
    display: flex;
    max-width: 250px;
    min-width: 250px;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.service-descript {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    justify-content: flex-start;
    color: #454545;
}



